<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Admin</a>
    <form class="form-inline" *ngIf="!authService.loginStatus">
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" routerLink="/login" >Login</button>
    </form>
    <form class="form-inline" *ngIf="authService.loginStatus">
        <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="authService.logout()" >Logout</button>
      </form>
  </nav>
<router-outlet></router-outlet>
